@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Castoro:ital@1&family=Merienda:wght@700&family=Parisienne&family=Yrsa:ital,wght@1,500&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
font-size: 1.25rem
}
/* headings and logo */
header{
    height: 80px;
    background-color: #ffffcd;
}
#logo{
    float: left;
 padding: 20px 20px;
}
h1{
    font-size: 175%;
    font-family: Parisienne,sans-serif;
}
h2{
    font-family: Merienda,sans-serif;
}
h3{
    font-family:"Cantata One",sans-serif ;
}
h4{
    font-family: Castoro, sans-serif;
}
p{
    font-family: Yrsa, sans-serif;
}
/* navigation links */
#logo,#menu{
    letter-spacing: 2px;

}
#menu{
    text-align: center;
    padding: 1.75rem 20px;
}

#menu li{
    display: inline;
    margin: 0 10px 0 10px;
    
}
#menu a{
    text-decoration: none;
    color: #000;
    font-family: "Cantata One",sans-serif;
    
}
.active{
    border-bottom: 1px solid #000;
}
#menu a:hover{
    border-bottom: 1px solid #000;
}

.contact-menu{
    float: right;
}
/* banner-top-homepage */
.welcome{
    text-align: center;
    letter-spacing: 4px;
   height: 300px;
   background:url(../image/banner-homepage.jpg) no-repeat center center;
   background-size: cover;
}
.welcome h2{
    position: relative;
    top: 50%;
}
.welcome h2, .welcome i{
    color: #fff;
   /* Middle section homepage */    
}
.school{
    min-height: 400px;
    height: auto;
}
.center{
    text-align: center;
    margin: 3rem 0;
}
.pale{
    display: flex;
    gap: 30px;
}
#hero-image{
    background: url(../image/hero-image.webp) no-repeat center center;
    background-size: cover;
    height: 275px;
    margin: 4.25rem 20px;
    border-radius: 50%;

    float: left;
    width: 30%;
    flex-grow: 1;
}

.right{
  width: 60%;
  margin: 3rem 1.25rem;
  float: right;
  text-align: left;
  flex-grow: 2;
}
/* Bottom section homepage */
.content{
    min-height: 400px;
    height: auto;
    margin-bottom: 1.5rem;
}
.content h2{
    text-align: center;
}
.main{
    margin: 3rem 0;
    text-align: center;
}
.container{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
.container a{
    float: right;
    font-size: 1.5rem;
    padding:10px 10px;
    text-decoration: none;
    color: #000;
}
/* Left side */
.left-side{
    height: auto;
    width: 32%;
    float: left;
box-shadow: 10px 10px 5px #8d8d8d;
}
.left-side p{
    font-size: 1.5rem;
    margin: 0 7.5px;
}
.top{
    height: 100px;
}
    .knife{  
        background: url(../image/knifeskills.jpg) no-repeat center center;
    background-size: 200%;
    }
  /* Center side */
.center-side{
    height: auto;
    width: 32%;
    box-shadow: 10px 10px 5px #8d8d8d;
}
.center-side p{
    font-size: 1.5rem;
    margin: 0 50px;
}
.butter{
    background: url(../image/tuna.jpg) no-repeat center center;
    background-size: cover;
}
/* Right side */
.right-side{
    height: auto;
    width: 32%;
    box-shadow: 10px 10px 5px #8d8d8d;
}
.right-side p{
    font-size: 1.5rem;
    margin: 0 50px;
}
.ingredients{
    background: url(../image/ingredientsbanner.jpg) no-repeat center center;
    background-size: cover;
}
/* Footer */
.social-networks{
    background-color: #ffffcd;
    height: 100px;
     text-align: center;
}
.social-networks li{
    display: inline;
    margin: 20px 15px;
    font-size: 2rem;
    position: relative;
    top: 1rem;
}    
.social-networks a{
    color: #000;
}
.social-networks p{
    position: relative;
    top: 1.5rem;
}
/* Banner top course page */
.themes{
    height: 300px;
     background: url(../image/banner-course.webp) no-repeat center center;
    background-size: cover;
    color: #fff;
}
.themes h2{
    position: relative;
    top: 50%;
text-align: center;
}
/* Content course page */
.box{
    display: flex;
    flex-direction: column;
}
/* Top content course page*/
.row{
    min-height: 435px;
    height: auto;
}
.left-knife{
    background: url(../image/knifeskills.jpg) no-repeat center center;
    background-size: cover;
    height: 275px;
    margin: 4rem 1rem;
    border-radius: 50%;
    float: left;
    width: 33%;
}
.right-course-knife{
    margin: 1.5rem 0.25rem;
    width: 60%;
    float: right;
    text-align: left;
}
/* Middle content */
.grey{
    background-color:#e3e4e5 ;
}
.left-techniques{
    background: url(../image/left-techniques.jpg) no-repeat center center;
    background-size: cover;
    height: 275px;
    margin: 5rem 1rem ;
    border-radius: 50%;
    float: left;
    width: 33%;
}
.right-course{
    width: 60%;
    margin: 3rem 0.25rem;
    float: right;
    text-align: left;
}
/* Bottom content */
.left-ingredients{
    background: url(../image/ingredients.jpg) no-repeat center center;
    background-size: cover;
    height: 275px;
    margin: 5rem 1rem ;
    border-radius: 50%;
    float: left;
    width: 33%;
}
/* Banner top contact us */
.contact-image{
    height:300px ;
    background: url(../image/banner-contactus.webp) center right no-repeat;
    background-size: cover;
}
.us{
   position: relative;
   top: 50%;
  
   text-align: center;
   color: #fff;
}
/* Contact form */
#contact-form{
    min-height: 700px;
    height: auto;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0 10px 0;
}
label{
    margin: 20px;
}
input{
    margin: 0 50px;
    line-height: 30px;
    font-size: 15px;
}
.c-input{
    border: 2px solid #000;
    border-radius: 5px;
    width: 70%;
}
.contact {
   min-height: 600px;
   height: auto;
    margin: 0.5rem auto;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
textarea{ 
    overflow: auto;
    font-size: 1.25rem;
    margin: 20px;
}
   
.submit{
    position: relative;
    top: 0.5rem;
    right: 0;
    border: 2px solid #000;
    border-radius: 15px;
    background-color:#ecd9ba ;
    padding: 20px;
}
/* Media queries */
@media screen and (max-width:1440px){
    #hero-image{
        width: 50%;
    }
    .us,.welcome h2,.themes h2{
        right: 10%;
    }
}
@media screen and (max-width:900px){
    .pale,.container{
        flex-direction: column;
    }
    #hero-image{
        width: 95%;
        margin: 1rem 20px;
    }
    .right{
        width: 95%;
        text-align: center;
        margin: 0 1.25rem;
    }
    .left-side, .right-side, .center-side{
        width: 100%;
    }
    .left-knife,.left-ingredients,.left-techniques{
        width: 95%;
        margin: 1rem 1rem;
    }
  .right-course,.right-course-knife{
     margin: 0 1rem 2.25rem 0;
      width: 95%;
     text-align: center;
  }
  .contact{
      Width:75%;
  }
  .container{
      gap:20px;
  }
}
@media screen and (max-width:768px){
    #logo{
        text-align: center;
    float: none;
padding:20px 0 10px 0;}
header{
    height: 130px;
}
#menu{
    padding-top: 0.75rem;
}
#menu li{
    padding:5px;
}
.contact-menu{
    float: none;
}
.us,.welcome h2,.themes h2{
    right: 0;
}
}
@media screen and (max-width:653px) {
     .right{
       margin: 0 auto;
       margin-top: 3rem;
   }
   #hero-image{
       width: 90%;
      margin: 10px 10px;
   }
   .left-knife,.left-ingredients,.left-techniques{
       margin: 1rem 0.5rem;
   }
   .right-course,.right-course-knife{
    margin: 0 0.75rem 2.25rem 0;
   }
}
@media screen and (max-width:541px){
    #menu li{
        display: block;
        list-style-type: none;
    }
    .contact{
        width: 100%;
    }
    header{
        height: 200px;
    }
}