*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
font-size: 1.25rem
}
/* headings and logo */
header{
    height: 100px;
    background-color: #ffffcd;
}
#logo{
    float: left;

}
h1{
    font-size: 175%;
}
#logo, #menu{
    padding: 20px 20px;
}
/* navigation links */
#menu{
    text-align: center;
}

#menu li{
    display: inline;
    margin: 0 10px 0 10px;
    
}
#menu a{
    text-decoration: none;
    color: #000;
    
}

.active{
    border-bottom: 1px solid #000;
}
#menu a:hover{
    border-bottom: 1px solid #000;
}
#logo,#menu{
    letter-spacing: 2px;

}
.contact-menu{
    float: right;
}

.welcome{
    text-align: center;
    letter-spacing: 4px;
   height: 300px;
   background:url(../image/the-original-innovators-FT-MAG0220-2000.jpg) no-repeat center center;
   background-size: cover;
}
.welcome h2{
    padding: 150px 150px;
    position: relative;
    top: 50%;
    left: 50%;
}
.welcome h2, .welcome i{
    color: #fff;
   
    
}
.school{
    min-height: 400px;
    height: auto;
}
.container{
    display: flex;
    gap: 30px;
}
.box{
    display: flex;
    flex-direction: column;
}
#hero-image{
    background: url(../image/cooking-course.jpg) no-repeat center center;
    background-size: cover;
    height: 275px;
    margin: 0 20px;
    border-radius: 50%;
    border: 2px solid #000;
    float: left;
    width: 30%;
    flex-grow: 1;
}
.main{
    margin: 3rem 0;
    text-align: center;
}
.center{
    text-align: center;
    margin: 3rem 0;
}
.right{
  width: 60%;
  margin: 1rem 1.25rem;
  float: right;
  text-align: left;
  flex-grow: 2;
}
.content{
    min-height: 400px;
    height: auto;
    margin-bottom: 1.5rem;
}
.content h2{
    text-align: center;
}
.left-side{
    height: auto;
    width: 32%;
    margin-left: 10px;
    float: left;
}


.left-side p{
    font-size: 1.5rem;
    margin: 0 7.5px;
}
.left-side a{
    font-size: 1.75rem;
    text-decoration: none;
    margin-left: 40px;
}
.top{
    height: 100px;
}
    .knife{  
        background: url(../image/knife.jpeg) no-repeat center center;
    background-size: 200%;
    }
  
.center-side{
    height: auto;
    width: 32%;
}

.right-side a{
    font-size: 1.75rem;
    text-decoration: none;
    margin-left: 40px;
}

.butter{
    background: url(../image/cooking\ tec.jpg) no-repeat center center;
    background-size: cover;
}
.right-side p{
    font-size: 1.5rem;
    margin: 0 50px;
}
.right-side{
    height: auto;
    width: 32%;
}
.ingredients{
    background: url(../image/Cooking-Guides-Ingredient-Guides-Cooking-Ingredients-1060x397.jpg) no-repeat center center;
    background-size: cover;
}
.center-side p{
    font-size: 1.5rem;
    margin: 0 50px;
}
.center-side a{
    font-size: 1.75rem;
    text-decoration: none;
    margin-left: 40px;
}
.social-networks{
    background-color: #ffffcd;
    height: 100px;
     text-align: center;
}
.social-networks li{
    display: inline;
    margin: 20px 15px;
    font-size: 2rem;
}    
.social-networks a{
    color: #000;
}

.themes{
    line-height: 300px;
     background: url(../image/Chefs-Compliments-fish-lesson.jpeg) no-repeat center center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.grey{
    background-color:#e3e4e5 ;
}

.row{
    min-height: 400px;
    height: auto;
}
.right-course{
    width: 60%;
    margin: 4rem 0.25rem;
    float: right;
    text-align: left;
  }
.left-knife{
    background: url(../image/knife.jpg) no-repeat center center;
    background-size: cover;
    height: 275px;
    margin: 5rem 1rem;
    border-radius: 50%;
    float: left;
    width: 33%;
}
.left-techniques{
    background: url(../image/cooking\ tec.jpg) no-repeat center center;
    background-size: cover;
    height: 275px;
    margin: 5rem 1rem ;
    border-radius: 50%;
    float: left;
    width: 33%;
}
.left-ingredients{
    background: url(../image/ingredients.jpg) no-repeat center center;
    background-size: cover;
    height: 275px;
    margin: 5rem 1rem ;
    border-radius: 50%;
    float: left;
    width: 33%;
}
.us{
    margin: 1rem 0;
    text-align: center;
}
#contact-form{
    min-height: 700px;
    height: auto;
    width: 80%;
    background-color: #d2d2d2;
    margin: 0 auto;
}
label{
    margin: 20px;
}
input{
    margin: 0 50px;
    line-height: 30px;
    font-size: 15px;
}
.c-input{
    border: 2px solid #000;
    border-radius: 5px;
    width: 70%;
}
.contact {
   min-height: 600px;
   height: auto;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}
textarea{ 
    margin: 1rem 3rem;
    overflow: auto;
    font-size: 1.25rem;
}
   
.submit{
    position: relative;
    top: 0.5rem;
    right: 0;
    border: 2px solid #000;
    border-radius: 15px;
    background-color:#ecd9ba ;
    padding: 20px;
}

@media screen and (max-width:1440px){
    #hero-image{
        width: 50%;
    }
}
@media screen and (max-width:768px){
    .left-knife,.left-ingredients,.left-techniques{
        width: 95%;
        margin: 1rem 1rem;
    }
  .right-course{
     margin: 0 0 2.25rem 0;
      width: 100%;
     text-align: center;
  }
  .contact{
      Width:75%;
  }
}
@media screen and (max-width:725px){
    #logo{
        text-align: center;
    float: none;
padding:20px 0 10px 0;}
header{
    height: 200px;
}

#menu li{
    padding:5px;
}
.contact-menu{
    float: none;
}

}
@media screen and (max-width:653px) {
    .container,.box{
        flex-direction: column;
    }
     .right{
       margin: 0 auto;
       margin-top: 3rem;
   }
   #hero-image{
       width: 90%;
      margin: 10px 10px;
   }
    .left-side, .right-side, .center-side{
        width: 100%;
    }
    
}
@media screen and (max-width:473px){
    #menu li{
        display: block;
        list-style-type: none;
    }
    .contact{
        width: 100%;
    }
}